# PostgreSQL
POSTGRES_USER=hrms_user
POSTGRES_PASSWORD=hrms_pass
POSTGRES_DB=hrms_db

# Prisma connection string
DATABASE_URL="postgresql://hrms_user:hrms_pass@postgres:5432/hrms_db?schema=public"

# Server
PORT=4000